body{
  margin:0;
  background:#212020;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-family:Helvetica, sans-serif;
}


#startBtn{
  padding:9px 15px;
  font-size:17px;
  border-radius:20px;
  cursor:pointer;
  background:#ffffff;
  margin-bottom:24px;
  transition:0.3s;
}

#startBtn:hover{
  transform:scale(1.05);
  background:#ffffff;
}
#wrap{
  position:relative;
  width:80%;
  max-width:800px;
  aspect-ratio:16/9;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow:
  0 30px 80px rgba(0,0,0,0.35),
  0 0 0 1px rgba(255,255,255,0.05);
  border-radius:14px;
  overflow:hidden;
}

video{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  transition:opacity .4s ease;
}

#videoB{
  opacity:0;
}

#label{ 
    position:absolute;
    top:10px;
    background: #ece8e5;
    padding:1px 18px;
    border-radius:20px;
    font-size:15px; }

p{
  margin-top:16px;
  opacity:0.6;
  font-size:20px;
  color:#ffffff ;
}
h1{
  margin-bottom:0px;
  font-size:40px;
  font-weight:600;
  color:#ffffff;
  text-align:center;
}
